body{
    background-color: rgb(167, 205, 255);
}

header{
    display: flex;
    justify-content: center;
    background-color: rgb(19, 128, 253);
}

h1 {
    font-size: 56px;
    font-weight: 900;
    font-family: 'Caprasimo', cursive;
}

p {font-style: italic;
color: red;
font-weight: bold;
}

h4{font-size: large;
color: green;
font-weight: bold;}

div#NuevoCliente{
    display: grid;
    justify-content: center;
    gap: 2px;
}

div#IngresoUsuario{
    display: grid;
    justify-content: center;
    gap: 2px;
}

div#Ingreso{
    margin-bottom: 1500px;
}

div#RickAndMorty{
    display: flex;
    align-items: center;
    flex-direction: column;
}
